body{
font-family:Arial;
margin:0;
display:flex;
background:#f1f5f9;
}

.dark{
background:#020617;
color:white;
}

.sidebar{
width:200px;
background:rgba(255,255,255,0.5);
backdrop-filter:blur(12px);
padding:20px;
height:100vh;
position:fixed;
}

.main{
margin-left:220px;
padding:20px;
width:100%;
}

.card{
background:rgba(255,255,255,0.6);
backdrop-filter:blur(16px);
padding:16px;
margin:14px 0;
border-radius:16px;
}

.grid{
display:grid;
grid-template-columns:repeat(7,1fr);
gap:6px;
}

.day{
padding:10px;
background:#e2e8f0;
border-radius:8px;
text-align:center;
}

.task{
padding:8px;
margin:6px 0;
background:#e2e8f0;
border-radius:8px;
cursor:grab;
}

.bottomnav{
position:fixed;
bottom:0;
width:100%;
background:rgba(255,255,255,0.7);
display:flex;
justify-content:space-around;
padding:10px;
}
